Package: net.ymlab.dev.Reveal2Loader
Name: Reveal2Loader
Version: 0.1-1
Description: 
Section: Tweaks
Depends: firmware (>= 7.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: h4ck
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

