Package: Reveal2Loader
Name: Reveal2Loader
Version: 1.0-2
Description: dynamically loads Reveal v4(8796) into applications and plugins.
Section: System
Depends: firmware (>= 8.0), mobilesubstrate, applist, preferenceloader, com.zidaneno5.ExtensionList
Conflicts: com.rheard.rhrevealloader, com.rheard.reveal-loader
Replaces: com.rheard.rhrevealloader, com.rheard.reveal-loader
Priority: optional
Architecture: iphoneos-arm
Author: duyongchao <duyongchao.h@gmail.com>
dev: zidaneno5
Homepage: 
Depiction: 
Maintainer: duyongchao <duyongchao.h@gmail.com>
Icon: 

